*{
    margin: 0;
}

#meu-nome{
    text-decoration: underline;
    text-align: center;
    color: white;
}
    

.meu-conteudo{
    padding: 2% 2% 6% 6%;
    float:inline-start;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    color: black;   
}



 #minha-foto{
    border-radius: 100px;
    width: 200px;
}



body{
    background-image: url(torcida.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#link-atletico{
    text-decoration: none;
    text-align: left;
    font-size: 19px;
    background-color: #000000;
    color: white;
    border-radius: 500px;
    
    
}
.lista{
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    clear: both;
}

