#meu-nome{
    text-decoration: underline;
}
    

#minha-foto{
    border-radius: 100px;
    width: 200px;
}

.sobre-mim{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: yellow;
    font-weight: 1000;
}

body{
    background-image: url(torcida.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#link-atletico{
    text-decoration: none;
    text-align: left;
    font-size: 19px;
    background-color: #000000;
    color: white;
    border-radius: 500px;
    
    
}
.lista{
    font-size: 20px;
    color: #E1F5A9;
    font-weight: 500;
}